# Local settings
.soroban
.stellar
Makefile
contracts/dex/test_snapshots/

.DS_Store
debug/
target/
**/*.rs.bk
*.pdb
dist/
.idea/
.yarn
.env*
node_modules
aarchives
examples
removed.rs
toBeAdded.rs
zz*.sh
backendFunc/
# Remove Cargo.lock from gitignore if creating an executable,
